.header{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    background-color: lightcyan;
    padding: 30px;
    color: rgb(143, 52, 19);
    border: 2px solid rgb(157, 194, 182);
    border-radius: 10px;
}