.header{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    padding: 30px;
    color: rgb(143, 52, 19);
    border: 2px solid rgb(157, 194, 182);
    border-radius: 10px;
}